<footer>
  <p>2025 GWA Calculator. All rights reserved.</p>
  <div class="social-links">
    <a href="https://github.com/izayazaya/GWACalculator" target="_blank">
      <img src="https://img.icons8.com/?size=100&id=12599&format=png&color=ffe4bc" alt="GitHub" />
    </a>
    <a href="https://discordapp.com/users/393441869327106050" target="_blank">
      <img src="https://img.icons8.com/ios_filled/512/ffe4bc/discord.png" alt="Discord" />
    </a>
    <a href="mailto:isaiahgwapoo@gmail.com">
      <img src="https://img.icons8.com/?size=100&id=86885&format=png&color=ffe4bc" alt="Gmail" />
    </a>
  </div>
</footer>
