<header>
  <div class="header-stuff">
    <a href="/"><img class="logo" src="img/logo.png" alt="Website Logo" /></a>
    <a href="/"><h1 id="title">GWA Calculator</h1></a>
  </div>
  <div class="header-stuff">
    <ul>
      <li class="header"><a href="/">Home</a></li>
      <li class="header"><a href="/about">About</a></li>
    </ul>
  </div>
</header>
