@media (max-width: 768px) {
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #081426;
  color: #ffe4bc;
  margin: 0px;
  padding: 0px;
}

header {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:visited,
a:link {
  color: #ffe4bc;
}

li a:hover {
  color: #ffbc90;
}

#title {
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

#title:hover {
  color: #ffe4bc;
}

.logo {
  width: 40px;
}

.header-stuff {
  display: flex;
}

.header {
  font-size: 20px;
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
}

.hero {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 40px;
}

.hero h1 {
  padding-left: 20px;
}

#university {
  text-align: center;
  width: 50%;
  margin: auto;
}

#university li {
  background-color: #ffe4bc;
  border-radius: 3px;
  height: 50px;
  width: 200px;
  margin: auto;
  transition: background-color 0.2s ease-in-out;
}

#university ul {
  padding: 0px;
}

#university li:hover {
  background-color: #ffbc90;
}

#university li a {
  color: #081426;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

h2 {
  display: block;
}

footer {
  background-color: #081426;
  padding: 20px;
  text-align: center;
}

.social-links a {
  margin: 0 10px;
  display: inline-block;
}

.social-links img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.2);
}
