<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A GWA (General Weighted Average) Calculator for Universities in the Philippines" />
    <meta name="author" content="Izayaa" />
    <link rel="icon" href="/favicon.ico" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles2.css" />
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap" rel="stylesheet" />
    <script src="app.js" defer></script>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <h1>Bicol University</h1>
      <div class="main">
        <form action="/grade" method="POST" enctype="multipart/form-data">
          <input type="file" name="file" required />
          <button type="submit">Check GWA</button>
        </form>
      </div>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
