@media (max-width: 768px) {
}

html,
body {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #081426;
  color: #ffe4bc;
  margin: 0px;
  padding: 0px;
}

body.dragging {
  background: #f17754;
  transition: background 0.2s ease-in-out;
}

header {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:visited,
a:link,
#title:hover {
  color: #ffe4bc;
}

li a:hover {
  color: #ffbc90;
}

#title {
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.logo {
  width: 40px;
}

.header-stuff {
  display: flex;
}

.header {
  font-size: 20px;
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

ul a {
  display: block;
  margin-right: 10px;
}

main {
  min-height: 70vh;
}

.hero {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 40px;
}

.hero h1 {
  padding-left: 20px;
}

#university {
  text-align: center;
  width: 50%;
  margin: auto;
}

#university li {
  background-color: #ffe4bc;
  border-radius: 3px;
  height: 50px;
  width: 200px;
  margin: auto;
  transition: background-color 0.2s ease-in-out;
}

#university ul {
  padding: 0px;
}

#university li:hover {
  background-color: #ffbc90;
}

#university li a {
  color: #081426;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.links {
  display: flex;
}

h2 {
  display: block;
}

.university-title {
  text-align: center;
}

.upload-container {
  position: relative;
}

form {
  display: flex;
  justify-content: space-between;
  margin: 2% 5%;
  height: 10vh;
  padding-left: 25%;
  padding-right: 25%;
}

.file-upload-button {
  border: none;
  height: 100%;
  width: 48%;
  font-size: 20px;
  font-family: "JetBrains Mono", monospace;
  background-color: #ffe4bc;
  border-radius: 10px;
  color: #081426;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}

.file-upload-button span {
  display: inline-block;
  max-width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 5%;
  flex-grow: 1;
}

.file-upload-button:hover {
  background-color: #ffbc90;
  transition: background-color 0.2s ease-in-out;
}

#file-name {
  display: none;
}

#file-upload {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.hidden {
  display: none;
}

button {
  border: none;
  height: 100%;
  width: 48%;
  font-size: 20px;
  font-family: "JetBrains Mono", monospace;
  background-color: #ffe4bc;
  border-radius: 10px;
  color: #081426;
  cursor: pointer;
}

button:hover {
  background-color: #ffbc90;
  transition: background-color 0.2s ease-in-out;
}

#output {
  margin: auto;
}

#progress-container {
  width: 20%;
  background: #ffe4bc;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  margin: 10px auto;
  height: 15px;
}

#status {
  text-align: center;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background: #f17754;
  transition: width 0.2s;
}

#ocr-output {
  color: #081426;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffe4bc;
  padding: 10px;
  margin: 20px auto;
  width: 50%;
  min-height: 100px;
}

footer {
  padding: 20px;
  text-align: center;
}

.social-links a {
  margin: 0 10px;
  display: inline-block;
}

.social-links img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.2);
}
